# Dependencies
**/node_modules/

# Build outputs
frontend/dist/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Env files
**/.env

# Python caches
**/__pycache__/
**/*.py[cod]

# Runtime generated uploads
backend/uploads/
